#background {
	background-color: #041932;
	background-size: fixed;
	height: 1200px;
	margin-top: -26px;
}


h1 {
	color: #E8EDDF;	
	
}

#maincontainer {

	width: 273px;
	height: 372px;
	margin: auto 0;
	background-color: #4C4C4C;
	margin-left: 498px;
	position: relative;
	padding-bottom: 5px;
	border: 3px solid #7B9EA8;
	border-radius: 10px;
	padding-left: 20px
	padding-right: 10px;
	box-shadow: 2px;
}

#equalsInput {

	height: 50px;
	width: 265px;
	margin: auto 0;
	background-color: transparent;
	float: left;
	margin-top: 0;
	color: white;
	position: relative;
	text-align: center; 
	border-radius: 5px;
	font-size: .5em;
}

#leftInput {
	margin-top: 0px;
	width: 116px;
	height: 50px;
	margin: auto 0;
	background-color: transparent;
	position:relative;
	float: left;
	outline-style: transparent;
	color: white;
	text-align: center;

}

#middleInput {

	width: 20px;
	height: 50px;
	margin: auto 0;
	background-color: transparent;
	position:relative;
	float: left;
	color: white;
	text-align: center;
}

#rightInput {


	width: 116px;
	height: 50px;
	margin: auto 0;
	background-color: transparent;
	position: relative;
	float: right;
	color: white;
	text-align: center;
}

.calcScreen {

	width: 270px;
	height: 90px;
	background-color: transparent;
	border-radius: 10px;
	margin: 0 auto;
	text-align: right;
	font-size: 4em;
	margin-bottom: 0px

}

.buttonleft{

	width: 66px;
	height: 50px;
	background-color:#D6D6D6;
	outline: 1px solid black;
	margin: 0px;
	text-align: center;
	font-size: 2em;
	color: black;
	position: relative;
	float: left;
	border-radius: 5px;
	margin-left: 2px;
	border-radius: 5px;
	margin-top: 2px;
}

.buttonright {

	width: 66px;
	height: 50px;
	background-color:#D6D6D6;
	outline: 1px solid black;
	margin: 0px;
	text-align: center;
	font-size: 2em;
	color: black;
	position: relative;
	float: left;
	border-radius: 5px;
	margin-left: 2px;
	margin-top: 2px;

}

.buttonmain {

	width: 66px;
	height: 50px;
	background-color:#D6D6D6;
	outline: 1px solid black;
	margin: 0px;
	text-align: center;
	font-size: 2em;
	color: black;
	position: relative;
	float: left;
	border-radius: 5px;
	margin-left: 2px;
	margin-top: 2px;

}

.bottombuttons {

	width: 66px;
	height: 50px;
	background-color: clear;
	outline: 1px solid black;
	margin: 0px;
	text-align: center;
	font-size: 2em;
	margin-left: 2px;
	color: black;
	position: relative;
	float: left;
	color: black;
	border-radius: 5px;
	margin-top: 2px;

}


.zerobutton {

	width: 134px;
	height: 50px;
	background-color: clear;
	outline: 1px solid black;
	margin: 0px;
	text-align: center;
	font-size: 2em;
	color: black;
	float:left;
	margin-left: 2px;
	border-radius: 5px;
	margin-left: 2px;
	margin-top: 2px;

}